* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: black;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

body {
  background-color: black;
}

///menu styling///

.header {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  background-image: url(assets/images/background-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 99%;
}

.navigation {
  margin: 20px 20px;
}

ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 30px;
}

p {
  display: block;
  color: white;
}

a {
  transition: ease-in;
  text-decoration: none;
  color: white;
}

a:hover {
  border-bottom: 2px solid grey;
  color: grey;
  padding-bottom: 10px;
}

li {
  list-style: none;
}

/* grid left styling */

.grid-left {
  display: grid;
  place-content: center;
}

.card {
  width: 350px;
  height: 550px;
  background: linear-gradient(to top, #000000 0%, #c2c2c2 100%);
  border-radius: 5px;
  /* display: contents; */
  /* border: 1px solid grey; */
}

.main {
}

.me {
  border-radius: 50%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 20px;
  height: 200px;
}

.photo-grid {
  display: grid;
  grid-auto-flow: column;
}

.interest-list {
  color: white;
  font-size: 0.8rem;
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
}

.interest-list-items {
  list-style: inside;
}

.me:hover {
  transform: scale(0.9);
  transition: 0.3s;
}

h1 {
  font-size: 2rem;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  color: grey;
  text-align: center;
}

h3 {
  font-size: 0.9rem;
  color: white;
  max-width: 50ch;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 2;
  text-align: justify;
}

h4 {
  font-size: 2rem;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
}

p {
  padding-bottom: 5px;
}

/* ///// grid right stlyle /// */

.grid-right {
  display: grid;
  /* place-content: center; */
  margin-inline-end: auto;
  padding-top: 72px;
}

.contact {
  width: 350px;
  height: 250px;
  /* background: linear-gradient(to top, #000000 0%, #c2c2c2 100%); */
  border-radius: 5px;
  display: contents;
}

label {
  line-height: 3;
  color: white;
  font-size: 0.9rem;
  margin-left: 10px;
}

.submit-button {
  display: block;
  justify-content: center;
  background-image: linear-gradient(315deg, #7f53ac 0%, #647dee 74%);

  padding: 10px;
  border-radius: 10px;
  color: white;
  justify-items: center;
  width: 250px;
  transition: 2s;
}

.submit-button:hover {
  background-image: linear-gradient(315deg, #647dee 0%, #7f53ac 74%);
  box-shadow: 5px 5px 10px rgb(46, 45, 45);
}

.move-button {
  display: grid;
  place-content: center;
  margin-top: 20px;
}

textarea {
  resize: none;
}

.submissionfield {
  width: 250px;
  font-weight: lighter;
  display: list-item;
  line-height: 2;
  background: transparent;
  border-bottom: 1px solid white;
  margin-left: 10px;
}

textarea:focus,
input:focus {
  color: white;
  outline: none;
}
