* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  scroll-behavior: smooth;
}

.wrapper {
  
  width: 100vw;;
  background-color: black;
  height: 100vh;
  padding-bottom: 50px;
}

a {
  transition: ease-in;
  text-decoration: none;
  color: white;
}
a:hover {

  border-bottom: 2px solid grey;
  color: grey;
  padding-bottom: 10px;
}

li {
  list-style: none;
}

h2 {
  
  font-family: "Cabin", sans-serif;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 8px #b9b9b9;
  margin-left: 50px;
}

h3 {
  font-size: 1rem;
  font-weight: lighter;
  color: grey;
}

h4{
    font-size: 0.8rem;
    font-weight: lighter;
    color: grey;
    margin-right: 20px;
}

.section-heading {
  /* display: grid;
  grid-auto-flow: column;
  align-items: baseline;
  grid-auto-columns: max-content;
  grid-gap: 20px;
  padding-top: 20px;
  padding-bottom: 30px; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  padding-bottom: 30px;

}

.section-name{

/* display: grid;
justify-content: left; */

display: grid;
justify-content: left;
grid-gap: 10px;
}


.section-des{

/* display: grid;
justify-content: center;
align-items: end; */

display: grid;
justify-content: center;
align-content: end;


}

.scroll{
/* display: grid;
justify-content: right;
align-items: end;
margin-left: 20rem; */

display: grid;

justify-content: right;
grid-gap: 10px;
align-content: end;

}


.images-grid {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
  overflow-x: scroll;
  margin-left: 52px;
  
}

.images-grid::-webkit-scrollbar {
  display: none;
}

.all-images {
  height: 500px;
}

/* ///// sectin styling //// */

.header {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  background-image: url(assets/images/background-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 99%;
}

.navigation {
  margin: 20px 20px;
}

ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 30px;
}




/* ///// sectin styling //// */

.painting {
  height: 100vh;
 

/* ///// sectin styling //// */

.graphics {
  height: 100vh;
  
}

/* ///// sectin styling //// */

.photography {
  height: 100vh;
  
}

/* ///// sectin styling //// */

.textures {
  height: 100vh;

}

/* ///// sectin styling //// */

.collaborations {
  height: 100vh;

}
/* ///// sectin styling //// */

.random {
  height: 100vh;
 
}

/* ///// sectin styling //// */

.footer {
  height: 100px;
  
}
