* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

.wrapper {
  width: 100vw;
  background-color: black;
  height: 100vh;
  padding-bottom: 50px;
}

a {
  transition: ease-in;
  text-decoration: none;
  color: white;
}
a:hover {
  border-bottom: 2px solid grey;
  color: grey;
  padding-bottom: 10px;
}

li {
  list-style: none;
}

h2 {
  font-family: "Cabin", sans-serif;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 8px #b9b9b9;
  margin-left: 50px;
  display: inline;
}

h3 {
  font-size: 1rem;
  font-weight: lighter;
  color: grey;
}

h4 {
  font-size: 0.8rem;
  font-weight: lighter;
  color: grey;
  margin-right: 20px;
}

.section-heading {
  /* display: grid;
  grid-auto-flow: column;
  align-items: baseline;
  grid-auto-columns: max-content;
  grid-gap: 20px;
  padding-top: 20px;
  padding-bottom: 30px; */

  /* display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  padding-top: 20px;
  padding-bottom: 30px; */

  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 20px;
  padding-bottom: 30px;
}

span {
  font-size: 0.8rem;
  font-weight: lighter;
  color: grey;
  margin-right: 20px;
  margin-left: 20px;
}

.section-name {
  /* display: grid;
justify-content: left; */

  display: grid;
  justify-content: left;
  grid-gap: 10px;
  display: inline;
}

.section-des {
  display: grid;
  justify-content: center;
  align-content: end;
}

.scroll {
  display: grid;
  grid-auto-flow: column;
  justify-content: right;
  grid-gap: 10px;
  align-content: end;
  padding-right: 20px;
}

.images-grid {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
  overflow-x: scroll;
  margin-left: 52px;
}

.images-grid::-webkit-scrollbar {
  display: none;
}

.all-images {
  height: 500px;
  opacity: 0.5;
  transition: ease-in;
}

.all-images:hover {
  opacity: 1;
}

.top:hover {
  color: red;
  border-bottom: none;
  padding: 0;
}

/* ///// section styling //// */

.header {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
  background-image: url(assets/images/background-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 99%;
}

.navigation {
  margin: 20px 20px;
}

ul {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 30px;
}

p {
  display: block;
  color: white;
}

.image-title {
  color: white;
  font-size: 0.9rem;
  padding-bottom: 5px;
}

.image-name {
  color: grey;
  font-size: 0.8rem;
  line-height: 2;
}

.enquire {
  color: grey;
  font-size: 0.7rem;
}

.enquire:hover {
  color: red;
  font-size: 0.7rem;
}

/* ///// section styling //// */

.painting {
  height: 100vh;
}

/* ///// section styling //// */

.graphics {
  height: 100vh;
}

/* ///// section styling //// */

.photography {
  height: 100vh;
}

/* ///// section styling //// */

.textures {
  height: 100vh;
}

/* ///// section styling //// */

.collaborations {
  height: 100vh;
}

/* ///// section styling //// */

.random {
  height: 100vh;
}

/* ///// section styling //// */

.footer {
  height: 100px;
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
}

.footer-copy {
  text-align: right;
  margin-right: 100px;
}
